*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: 0 auto;
  width: 300px;
  max-width: 100%;
}
.income{
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 0 0 10px grey;
  margin-top: 20px;
  padding: 10px;
}
.history{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 10px grey;
  margin-top: 10px;
  padding: 10px;
}
.form input{
  width: 100%;
  padding: 10px 0 10px 10px;
  margin-top: 5px;
}
.form button{
  width: 100%;
  padding: 10px 0 10px 0px;
  margin-top: 5px;
  cursor: pointer;
}